.list-group {
    margin: 20px;
    padding: 20px;
    overflow: auto;
    width: 480px;
    height: 300px;
    background-color: #ffffff;
    :hover {
        background-color: #CADBC8;
    }
    .load-more {
        background-color: #8BBDFF;
        &:hover {
            background-color: #2684FF;
        }
    }
    
}